.promo {
    position: relative;
    min-height: 800px;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &_links {
        margin-top: 25px;
    }
    &_link {
        padding: 12px 26px;
        font-weight: 700;
        font-size: 14px;
        background: $main-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
          
    }
    .nobg {
        background: none;
        box-shadow: none;
        
    }
};
button,
button:active,
button:focus  {
  border:none;
  box-shadow: none;
};
.humbrger {
    position: absolute;
    display: flex;
    width: 36px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    top: 20px;
    right: 30px;
    height: 21px;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
        
    };
    span.hamburger_long {
        width: 36px;
       
    };
}
   

