.subtitle {
   
    text-align: center;
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%) translateY(-7px);
    }
    &_left {
        text-align: left;
        padding-left: 14px;
        &:before {
            left: 20px;
        }
    }
    &_line {
        position: relative;
        &::after {
            content: '';
            width: 60px;
            height: 3px;
            display: block;
            background: $main-color;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_contacts {
        margin-top: 8px;
    }
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    width: 532px;
    margin-top: 9px;
}

.title {
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-top: 6px;
    &::before {
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        background: $main-color;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_left {
        text-align: left;
        &::before {
            left: 0;
            transform: none;
            bottom: -6px;
        }
    }
}