.subtitle {
    padding-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: -8px;
    }
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    width: 532px;
    margin-top: 9px;
}

.title {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-top: 6px;
    &::before {
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        background: $main-color;
        position: absolute;
        bottom: 0;
    }
}